@import "colors";

@mixin anim-hover-scale {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.025);
  }
}

@mixin anim-hover-underline {
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-main-yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@keyframes smoothAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slowDisappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
