// DEFAULT COLORS
$color-white-default: #ffffff;
$color-black-default: #000000;
$color-red-default: #ff0000;

// MAIN APPLICATION COLORS
$color-main-velvet: #683ab7; //#683AB7	#5D4389	#371377	#946BDB	#A789DB
$color-main-red: #f44336;
$color-main-yellow: #ffd740; //#FFE83F	#BFB253	#A69514	#FFEE6F	#FFF295
$color-main-light-gray: #dcdcdc;
$color-main-dark-grey: #6c757d75;

//// THEME COLORS
//    // white colors
//$color-white-ice-wind: #e9ecef;
//$color-white-whisper: #e6e6e6;
//$color-white-satin: #ced4da;
//$color-white-smoke: #efefef;
//    // blue colors
//$color-blue-vivid: #007bff;
//$color-blue-box-shadow: #268FFF7F;
//$color-blue-easy-box-shadow: #2882b48c;
//$color-blue-dark: #495057;
//$color-blue-charcoal: #212529;
//    // gray colors
//$color-gray-light: #D3D3D3FF;
//$color-gray-very-light: #c8c8c8;
//
//$color-gray-raven: #6c757d;
//$color-gray-raven-dark: #6c757d75;
//    // other colors
//$color-aqua-pura: #e2f3ef;
//
//// EVENT COLORS
//    // success colors
//$color-success-easy: #74c687;
//$color-success: #28a745;
//$color-success-additional: #28a7450f;
//    // warning colors
//$color-warning: #e6bc8f;
//    // error colors
//$color-error-easy: #ff6600;
//$color-error: #dc3545;
//$color-error-additional: #dc354514;




