//TEXT
$p-font-size-small-xxx: 12px;
$p-font-size-small-xx: 13px;
$p-font-size-small-x: 14px;
$p-font-size-small: 15px;
$p-font-size-medium: 16px;
$p-font-size-large: 17px;
$p-font-size-large-x: 18px;
$p-font-size-large-xx: 19px;
$p-font-size-large-xxx: 20px;

//TITLES
$h-font-size-small-xxx: 21px;
$h-font-size-small-xx: 22px;
$h-font-size-small-x: 23px;
$h-font-size-small: 24px;
$h-font-size-medium: 25px;
$h-font-size-large: 27px;
$h-font-size-large-x: 30px;
$h-font-size-large-xx: 33px;
$h-font-size-large-xxx: 40px;
