@import "colors";
@import "offsets";
@import "font-sizes";

@mixin input-main {
  border: 2px solid $color-main-velvet;
  padding: $offset-small-x $offset-small;
  border-radius: $offset-small-x $offset-small;
}

@mixin input-error-message {
  font-size: $p-font-size-small-xxx;
  color: $color-main-red;
  margin-left: $offset-small;
}

@mixin input-container {
  display: flex;
  flex-direction: column;
  &__label {
    margin-bottom: $offset-small-x;
    font-weight: 550;
  }
  &__input {
    @include input-main;
  }
  &__errors {
    min-height: 35px;
    &__message {
      margin: 0;
      @include input-error-message;
    }
  }
}
