@import "src/app/styles/@general-styles";

:host {
  .sign-up {
    @include flex(row, center, space-between);
    min-height: $content-height-size;
    &__text-container {
      &__page {
        font-size: $h-font-size-large-x;
        color: $color-main-velvet;
        font-weight: bold;
      }
      &__text {
        &__site {
          color: $color-main-velvet;
          font-weight: bold;
        }
      }
    }
    &__form {
      margin: $offset-large-xxx 0;
      &__radio-group {
        @include flex(column, flex-start, flex-start);
      }
    }
    &__btn-container {
      &__btn {
        @include button-accent;
      }
    }
  }
}
