<header class="container header">
  <div class="header__logo">
    <div>
      <p class="header__logo__name" routerLink="">SKIDKI.UZ</p>
      <p class="header__logo__slogan">Экономить - это модно</p>
    </div>
    <!--    <nav class="header__nav-burger">-->
    <!--      <mat-icon style="color:#673ab7; height: 30px; width: 30px; font-size: 30px" [matMenuTriggerFor]="navItems">menu</mat-icon>-->
    <!--      <mat-menu #navItems="matMenu">-->
    <!--        <button *ngFor="let tool of tools" mat-menu-item routerLink="{{ tool.path }}">{{ tool.title }}</button>-->
    <!--      </mat-menu>-->
    <!--    </nav>-->
  </div>

  <nav class="header__nav">
    <ul class="header__nav__list">
      <li
        *ngFor="let tool of tools"
        class="header__nav__list__row"
        routerLink="{{ tool.path }}"
        [ngClass]="
          currentPath === tool.path ? 'header__nav__list__row__active' : ''
        "
      >
        <mat-icon
          *ngIf="tool.icon"
          style="color: {{ tool.iconColor }}"
          class="header__nav__list__row__icon"
          >{{ tool.icon }}</mat-icon
        >
        {{ tool.title }}
      </li>
    </ul>
  </nav>

  <!--  <div class="header__find">-->
  <!--    <mat-icon-->
  <!--      class="header__find__icon"-->
  <!--      (click)="showFindFormVisibility($event)"-->
  <!--      >search</mat-icon-->
  <!--    >-->
  <!--  </div>-->

  <div class="header__account">
    <div>
      <button
        *ngIf="!userInfo"
        class="header__account__login-button"
        [routerLink]="routes.SignIn"
      >
        Войти
      </button>
      <button
        *ngIf="!userInfo"
        class="header__account__signup-button"
        [routerLink]="routes.SignUp"
      >
        Создать аккаунт
      </button>
      <button
        *ngIf="userInfo"
        class="header__account__my-account-button"
        [matMenuTriggerFor]="accountMenu"
      >
        {{ userInfo.name }}
      </button>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item routerLink="/account/info">Мой аккаунт</button>
        <button mat-menu-item routerLink="/account/change-password">
          Мои купоны
        </button>
        <button mat-menu-item routerLink="/tickets2">
          Просмотренные купоны
        </button>
        <button mat-menu-item routerLink="" (click)="logOut()">Выйти</button>
      </mat-menu>
    </div>
  </div>
</header>
<app-progress-bar
  [isProgressBarWorks]="isProgressBarWorks | async"
></app-progress-bar>
<section
  *ngIf="isFindFormShown"
  clickOutside
  class="find-box"
  [class]="test ? 'form-disabled' : ''"
  (clickOutside)="hideFindFormVisibility()"
>
  <div class="find-box__element">
    <input class="find-box__element__input" type="text" name="" id="" />
    <mat-icon class="find-box__element__icon">search</mat-icon>
  </div>
</section>
