@import "src/app/styles/@general-styles";

:host {
  .sign-in {
    @include flex(row, center, space-between);
    min-height: $content-height-size;
    &__text-container {
      margin-bottom: $offset-large-xxx;
      &__page {
        font-size: $h-font-size-large-x;
        color: $color-main-velvet;
        font-weight: bold;
      }
      &__text {
        &__site {
          color: $color-main-velvet;
          font-weight: bold;
        }
      }
    }
    &__form {
      @include flex(column, flex-start, flex-start);
      &__field {
        min-width: 50%;
        &__input {
        }
      }
      &__btn {
        @include button-accent;
        margin-top: $offset-medium;
        margin-bottom: $offset-small-xxx;
        min-width: 50%;
      }
    }
    &__aside {
      margin-top: $offset-medium;
      &__text {
        cursor: pointer;
        color: $color-main-dark-grey;
      }
    }
  }
}
