<section class="discounts">
  <aside class="discounts__sidebar" [class]="isSidebarShown ? '' : 'dashboard__sidebar__hidden'">
    <nav>
      <ul class="discounts__sidebar__list">
        <li
          *ngFor="let category of topCategories"
          class="discounts__sidebar__list__category"
        >
          <span (click)="chooseTopCategory($event)">{{ category.name }}</span>
          <span class="discounts__sidebar__list__category__count">
            {{ (category.count) > 0 ? category.count : 0}}
          </span>
        </li>
      </ul>
      <br>
      <ul class="discounts__sidebar__list">
        <li
          *ngFor="let category of categories"
          class="discounts__sidebar__list__category"
        >
          <span (click)="chooseCategory($event)">{{ category.name }}</span>
          <span class="discounts__sidebar__list__category__count">
            {{ (category.count) > 0 ? category.count : 0}}
          </span>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="discounts__content">
    <span class="discounts__content__toggle" (click)="sidebarToggle()">X</span>
    <h1 class="discounts__content__title">{{ currentCategory }}
      <span *ngIf="currentCategory === 'ВСЕ СКИДКИ'">Г. {{ city }}</span>
    </h1>
    <section class="discounts__content__items">
      <ng-container *ngFor="let subCategory of subCategories">
        <div
          *ngIf="subCategory.count > 0"
          class="discounts__content__items__item"
        >
          <span
            class="discounts__content__items__item__title"
          >{{ subCategory.name }}</span>
          <span
            class="discounts__content__items__item__count"
          >
          {{ subCategory.count > 0 ? subCategory.count : 0 }}
          </span>
        </div>
      </ng-container>

      <!--      <span-->
      <!--        style="color: blueviolet; text-decoration: underline; margin-left: 20px; cursor: pointer"-->
      <!--        *ngFor="let subCategory of subCategories"-->
      <!--        >-->
      <!--        <span *ngIf="subCategory.count > 0">{{ subCategory.name }}</span>-->

      <!--        <span style="color: orange; cursor: pointer"-->
      <!--              *ngIf="subCategory.count > 0">-->
      <!--        {{ subCategory.count > 0 ? subCategory.count : 0 }}-->
      <!--      </span>-->
      <!--      </span>-->

    </section>
  </main>
</section>

