@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 0 2.5vw;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.mat-dialog-container {
  background-color: white;
  color: black;
}

p, h1 {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html::-webkit-scrollbar {
  width: 7px;
  background-color: white;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  border-radius: 5px;
  max-height: 20px;
}

html{
  overflow-y: scroll;
}
